# Copy this file to ".env" in the same folder

PORT=5001
MONGODB_URI=mongodb://localhost:27017/your_db_name

RAZORPAY_KEY_ID=rzp_test_xxxxxxxxx
RAZORPAY_KEY_SECRET=xxxxxxxxxxxxxxxxxxxxxxxx
RAZORPAY_PLAN_ID=xxxxxxxxxxxxxxxx

RAZORPAY_WEBHOOK_SECRET=xxxxxxxxxxxxxxxxxxxxxxxx

EMAIL_USER=yourgmailaddress@gmail.com
EMAIL_PASS=your_gmail_app_password

